
.margintop{
margin-top: 50px;
background-color: aqua;
}

.blinking{
    animation:blinkingText 1.2s infinite;
}
@keyframes blinkingText{
    0%{     color: red;    }
    49%{    color:red; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color:red;    }
}

.redcolor
{   color: red;}
.greencolor
{   color:green;}

.bluebgcolor
{
    background-color: darkblue;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }